.casilla {
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    background-color: darkolivegreen;
}

.casilla-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 220px;
    justify-content: space-between;
    padding: 2px;
    margin: 2px;
}

.casilla img {
    height: 150px;
    padding: 1.5em;
}