.casilla {
  padding: 0.8em;
  background-color: #4f6233;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,.15);
  transition: transform .15s ease;
}

.casilla:hover {
  transform: translateY(-2px);
}

.casilla-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;        
  justify-content: space-between;
  align-items: center;
}


.casilla img {
  height: 100px;        
  object-fit: contain;
}

@media (max-width: 420px) {
  .casilla-container { height: 175px; }
  .casilla img { height: 120px; }
}
